name: dist

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev meson
      - run: meson setup -Dvendor=True _build && meson dist -C _build
      - uses: softprops/action-gh-release@v2
        with:
          files: _build/meson-dist/yggdrasil-*.tar.xz
