name: Lint

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: aevea/commitsar@v0.20.2
  lint-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "stable"
      - uses: actions/checkout@v6
      - run: go get .
      - uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: latest
          args: --verbose --timeout=3m
      - run: go install github.com/segmentio/golines@latest
      - run: if [ "$(golines . --dry-run | wc -l)" -gt 0 ]; then exit 1; fi
  lint-language:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: get-woke/woke-action@v0
        with:
          fail-on-error: true
